//

$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grey-blue: hsl(233, 8%, 79%);
$dark-grey-blue: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);


* {
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

#root {
    background-color: $off-white;
}

.hero--bg {
    width: 100%;
    background-image: url(src/assets/images/image-web-3-mobile.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: grid;
    gap: 20px;
    
}

.hero--text {
    font-weight: 800;
    font-size: 50px;
    
    line-height: 45px;
    

}

.hero--des {
    margin-bottom: 20px;
    line-height: 25px;

    p {
        color: grey;
        font-size: 15px;
        margin-bottom: 20px;
    }

    button {
        padding: 1rem;
        color: white;
        background: $soft-red;
        font-size: 1rem;
        text-transform:uppercase;
        border: none;
        letter-spacing: 3px;
        transition: .3s;

        &:hover {
            background: $dark-blue;
            cursor: pointer;
        }
    }
}

.latest--news {
    background: $dark-blue;
    color: $off-white;
    padding: 1rem;
    margin-bottom: 2rem;

    h2 {
        color: $soft-orange;
        margin-bottom: 2rem;
        transition: .4s;
        cursor: pointer;
        
    }

    

    .news {

        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $dark-grey-blue;

        h3 {
            margin-bottom: 10px;
            transition: .3s;
            cursor: pointer;

            &:hover {
                color: $soft-orange;
            }
        }

        p {
            color: $grey-blue;
            font-size: 15px;
        }
        &:last-child {
            border: none;
            margin-bottom: 10px;
            padding-bottom: 0;
        }
    }

    
}

.top--news {
    
    display: flex;
    gap: 20px;

    img {
        width: 125px;
        height: 175px;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 14px;

        span {
            font-size: 40px;
            color: $grey-blue;
            font-weight: 800;
        }

        h3 {
            font-size: 17px;
            font-weight: 700;
            margin: 0;
            transition: .3s;
            cursor: pointer;

            &:hover {
                color: $soft-red;
            }
        }

        p {
            color: $dark-grey-blue;
            line-height: 25px;
            font-weight: 600;
        }
    }
}

@media (min-width: 768px) { 
    main {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2.5rem;
        // grid-template-rows: 1fr 1fr 1fr;
    }
    
    .hero--bg {
        width: 100%;
        height: 250px;
        background-image: url(src/assets/images/image-web-3-desktop.jpg);
        grid-area: 1/1/2/3;

    }

    .latest--news {
        grid-area: 1/3/3/4;
    }

    

    .hero--des {
        position: relative;
        margin-bottom: 0;
        // padding-bottom: 0;

        button {
            position: absolute;
            bottom: 0;
        }
    }

    .top--news {
        padding-top: 30px;
        img {
            width: 100px;
            height: 140px;
        }

        div {
            span {
                font-size: 30px;
            }
    
            h3 {
                font-size: 16px;
            }
    
            p {
                font-size: 13px;
            }
        }
    }
}